:root {
    scroll-behavior: smooth;
    --primary-theme-color: blue;
    --secondary-theme-color: violet;
    --primary-text-color: brown;
    --primary-highlight-color: cyan;
    --letter-color-1: crimson;
    --letter-color-2: magenta;
    --letter-color-3: peru;
    --letter-color-4: darkturquoise;
    --primary-font-family: 'inconsolata' serif;
    --max-width-container: 1024px;
    --padding-section: 1.5rem;
    --padding-container: 1rem;
    --primary-border-radius: 0.5rem;
}
